<!-- spring-integration.xml -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-amqp="http://www.springframework.org/schema/integration/amqp"
       xmlns:int-file="http://www.springframework.org/schema/integration/file"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration
       http://www.springframework.org/schema/integration/spring-integration.xsd
       http://www.springframework.org/schema/integration/amqp
       http://www.springframework.org/schema/integration/amqp/spring-integration-amqp.xsd
       http://www.springframework.org/schema/integration/file
       http://www.springframework.org/schema/integration/file/spring-integration-file.xsd">

    <!-- Define channels -->
    <int:channel id="inputChannel"/>
    <int:channel id="outputChannel"/>

    <!-- Define integration flow -->
    <int:service-activator input-channel="inputChannel" output-channel="outputChannel">
        <bean class="com.integration.boot.service.ServiceHandler"/>
    </int:service-activator>

</beans>
